@charset "UTF-8";

@font-face {
  font-family: "personalized";
  src:url("fonts/personalized.eot");
  src:url("fonts/personalized.eot?#iefix") format("embedded-opentype"),
    url("fonts/personalized.woff") format("woff"),
    url("fonts/personalized.ttf") format("truetype"),
    url("fonts/personalized.svg#personalized") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "personalized" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "personalized" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marketing:before {
  content: "\61";
}
.icon-document:before {
  content: "\62";
}
.icon-football:before {
  content: "\63";
}
.icon-gestures:before {
  content: "\64";
}
.icon-hammer:before {
  content: "\65";
}
.icon-vibrate:before {
  content: "\66";
}
.icon-cocktail:before {
  content: "\67";
}
