/* CSS Document
*
* @autor Fernanda Pieretti
* @data nov2017
* @ref style.css
*
*/

body,.ui-widget{font-family:Roboto;color:#363636}

h2{font-size:24px;font-weight:bolder;cursor:default}
@media only screen and (min-width:992px) and (max-width:1200px) {h2{font-size:22px}}
@media only screen and (min-width:768px) and (max-width:992px) {h2{font-size:20px}}
@media only screen and (max-width:768px) {h2{font-size:18px}}

img {max-width:100%}

#header{padding:20px 0}
#header .topo button{width:75px;height:60px;color:#fff;border:none;cursor:pointer;outline:none}
#header .topo button.btn-fechar{width:250px;height:60px;text-align:left;position:fixed;z-index:11;top:0;left:-100%;padding-left:15px;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
#header .logos{text-align:right}
#header .logos a{margin-left:15px;-webkit-filter:grayscale(100%);filter:grayscale(100%);opacity:0.7;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#header .logos a:first-child{margin-left:0}
#header .logos a:hover{-webkit-filter:grayscale(0);filter:grayscale(0);opacity:1;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#header .busca form{width:330px;height:45px;border-bottom:1px solid #ccc}
#header .busca form input{width:300px;line-height:45px;height:45px;display:block;border:none;outline:none;background:none;font-weight:600;color:#868686}
#header .busca form button{width:30px;height:45px;display:block;border:none;outline:none;background:none;cursor:pointer}
@media only screen and (min-width:992px) and (max-width:1200px) {
	#header .logos a{margin-left:5px}
	#header .busca form{width:180px}
	#header .busca form input{width:150px}
}
@media only screen and (min-width:768px) and (max-width:992px) {
	#header .logo img{height:50px}
	#header .logos a{margin-left:2px}
	#header .busca form{width:140px}
	#header .busca form input{width:110px;font-size:12px}
}
@media only screen and (max-width:768px) {
	#header{padding:0;text-align:center}
	#header .topo{width:100%;padding:0;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;align-items:center;justify-content:space-between}
	#header .topo button.btn-fechar.ativo{left:0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
	#header .logo{max-width:70%;vertical-align:middle;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;align-items:center;justify-content:space-between;}
	#header .logo{padding-right:15px}
	#header .logo img{max-height:45px}
}

#nav ul{display:block;list-style:none;margin:0;padding:0}
#nav ul li{display:inline-block;list-style:none;position:relative}
#nav ul li:first-child a{padding-left:0}
#nav ul li:first-child a:hover{color:#fff;background:inherit}
#nav ul li a{display:block;color:#fff;font-size:17px;font-weight:600;cursor:pointer;padding:15px 14px;margin:1px 0 0;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#nav ul li:hover a{text-decoration:none;background:#fff;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#nav ul li a span{display:none}
#nav ul li ul{display:none;position:absolute;z-index:2;top:100%;left:0;width:240px}
#nav ul li ul li{display:block}
#nav ul li ul li a,#nav ul li ul li:first-child a{padding:15px 20px;font-size:14px;margin:0}
#nav ul li ul li a:hover,#nav ul li ul li:first-child a:hover{background:#f1f1f1}
#nav ul li:hover ul{display:block}
#nav .redes a{color:#fff;margin-left:6px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#nav .redes a:hover{color:#f1f1f1;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#nav .redes a:first-child{margin-left:0}
#nav .busca{width:250px;height:58px}
#nav .busca form{width:100%;height:58px;border-bottom:1px solid #ccc;padding:0 10px 0 20px}
#nav .busca form input{width:160px;line-height:58px;height:58px;display:block;border:none;outline:none;background:none;font-weight:600;color:#868686}
#nav .busca form button{width:30px;height:58px;display:block;border:none;outline:none;background:none;cursor:pointer}
@media only screen and (min-width:992px) and (max-width:1200px) {
	#nav ul li a{font-size:14px;padding:12px}
	#nav ul li ul li a, #nav ul li ul li:first-child a{font-size:13px}
	#nav ul li ul li a,#nav ul li ul li:first-child a{padding:12px}
	#nav .redes a{margin-left:2px}
}
@media only screen and (min-width:768px) and (max-width:992px) {
	#nav ul li a{font-size:13px;padding:15px 3px}
	#nav ul li ul{width:200px}
	#nav ul li ul li a, #nav ul li ul li:first-child a{font-size:12px;padding:10px 20px}
	#nav .redes a{font-size:13px;margin-left:0}
}
@media only screen and (max-width:768px) {
	#nav{width:250px;height:100%;padding-top:60px;background:#fff !important;position:fixed;z-index:10;top:0;left:-100%;overflow:auto;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
	#nav .col-md-auto{padding:0}
	#nav.ativo{left:0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
	#nav ul li{display:block;border-bottom:1px solid #d7d7d7}
	#nav ul li.submenu:after{content:"\f054";font-family:FontAwesome;position:absolute;z-index:12;right:15px;top:17px}
	#nav ul li:first-child a{padding-left:20px}
	#nav ul li a{padding:18px 20px;margin:0;color:#363636;font-size:15px;text-transform:uppercase;font-weight:500}
	#nav ul li a span{display:inline}	
	#nav ul li ul{display:none;position:relative;top:inherit;left:inherit;width:250px;border:none !important}
	#nav ul li ul li{border-bottom:none;border-top:1px solid #efefef;padding-left:15px}
	#nav ul li ul li a, #nav ul li ul li:first-child a{padding:8px 6px}
	#nav .redes{padding:17px 15px;border-bottom:1px solid #d7d7d7}	
	#nav .redes a{padding:0 5px}
}

#titulo{padding:10px;text-align:center}
#titulo h1{color:#fff;font-size:25px;text-transform:uppercase;margin:0;cursor:default}

#principal{background:#f1f1f1;padding:20px 0}
#principal.invert{background:#ffffff}
#principal.invert .destaque a{background:#f1f1f1}
#principal.invert .destaque a{height:154px}

#principal .banner{padding-bottom:20px}

#principal .noticia-principal a{display:block;color:#fff;font-size:38px;line-height:40px;text-decoration:none;position:relative;margin-bottom:2px}
#principal .noticia-principal a span{position:absolute;z-index:1;left:0;bottom:0;font-weight:bold;width:100%;height:auto;padding:35px;background-image:linear-gradient(to bottom, transparent, rgba(60,60,60,1))}
#principal .noticia-principal a span small{display:block;font-size:14px}
#principal .noticia a{display:block;color:#fff;font-size:24px;line-height:26px;text-decoration:none;position:relative}
#principal .noticia a span{position:absolute;z-index:1;left:0;bottom:0;font-weight:bold;width:100%;height:auto;padding:35px;background-image:linear-gradient(to bottom, transparent, rgba(60,60,60,1))}
#principal .noticia a span small{display:block;font-size:14px}

#principal .destaque a{display:block;height:156px;padding:25px;background:#fff;margin-bottom:2px;margin-left:2px;text-decoration:none}
#principal .destaque a b{display:block;color:#ee0000;font-size:14px;height:21px;overflow:hidden}
#principal .destaque a span{display:block;color:#363636;font-size:18px;font-weight:600;line-height:20px;margin-top:3px;height:86px;overflow:hidden}
#principal .destaque a:hover span{color:#003093;text-decoration:underline}

#principal .lista{padding-top:10px;padding-left:30px}
#principal .lista p{color:#ee0000;font-size:14px;font-weight:600}
#principal .lista a{display:block;margin-bottom:10px;color:#363636;font-size:17px;font-weight:600;position:relative}
#principal .lista a span{display:inline-block;margin:0 0 15px 15px;color:#363636;font-family:Roboto;font-size:16px;line-height:20px;font-weight:600}
#principal .lista a:before{position:absolute;z-index:1;color:#003093}
#principal .lista a:hover span{color:#003093;text-decoration:underline}
#principal .lista a:last-child,#principal .lista a:last-child span{margin-bottom:0}

#principal .mais-noticias{display:block;margin-top:30px}
#principal .mais-noticias ul{display:block;margin:30px 0 0;padding:0}
#principal .mais-noticias li{display:block;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #ebebeb;position:relative}
#principal .mais-noticias li:last-child{border:none}
#principal .mais-noticias li a{display:block;padding-left:20px;text-decoration:none}
#principal .mais-noticias li a:before{position:absolute;z-index:1;color:#363636;font-size:25px;left:0;top:-7px}
#principal .mais-noticias li a b{display:block;font-family:Roboto;font-size:14px;color:#ee0000}
#principal .mais-noticias li a span{display:block;font-family:Roboto;font-size:20px;font-weight:bold;color:#363636;margin-top:8px}
#principal .mais-noticias li a:hover span{color:#003093;text-decoration:underline}
#principal .mais-noticias > a{display:table;margin:auto;font-weight:bold;width:60%;text-align:center;min-width:180px}

#principal .arquivos-video{background:#f7f7f7;border-radius:5px;border:1px solid #c2c5cc;margin-top:30px}
#principal .arquivos-video h2{color:#2a2526;font-size:24px}
#principal .arquivos-video ul{display:block;margin:0;padding:0}
#principal .arquivos-video ul li{display:block;margin:0;padding:10px 0;border-bottom:1px solid #dcdee1}
#principal .arquivos-video ul li:last-child{border:none}
#principal .arquivos-video ul li a{color:#4f5155;font-size:16px}
#principal .arquivos-video ul li a:hover{color:#d72529;text-decoration:underline}
#principal .arquivos-video iframe{border:none;height:230px}
#principal .arquivos-video > div{padding:20px 30px;width:50%}
#principal .arquivos-video > div:first-child{border-right:1px solid #c2c5cc}
#principal .arquivos-video span.overlay{position:absolute;width:100%;height:100%;top:0;left:0;margin:0;padding:0;text-align:center;display:flex;justify-content:center;align-items:center}
#principal .arquivos-video span.overlay span{margin:0;font-size:50px;color:#fff;align-items:center;color:red}
@media only screen and (max-width:768px) {
	#principal .arquivos-video{flex-wrap:wrap}
	#principal .arquivos-video > div{width:100%}
	#principal .arquivos-video > div:first-child{border-right:none;border-bottom:1px solid #c2c5cc}
}

#principal .noticia-detalhe{margin-top:20px;width:100%;display:table}
#principal .noticia-detalhe .data{font-size:13px;color:#fff;background:#003093;padding:2px 5px;margin:0;border-radius:3px;cursor:default;font-weight:bold}
#principal .noticia-detalhe .titulo{font-size:30px;line-height:33px;margin:20px 0;cursor:default}
#principal .noticia-detalhe .descricao{font-size:15px;color:#85898f;font-style:italic;cursor:default}
#principal .noticia-detalhe .texto{font-size:18px;line-height:36px;color:#4f5155;cursor:default}
#principal .noticia-detalhe .texto p{margin-bottom:30px}
#principal .noticia-detalhe .imagem{float:left;position:relative;max-width:400px;margin:0 30px 30px 0}
#principal .noticia-detalhe .imagem img{width:100%;height:auto}
#principal .noticia-detalhe .imagem .credito{background:#777c7e;color:#fff;font-size:12px;padding:5px 7px;border-radius:5px;position:absolute;z-index:1;top:10px;left:10px;margin:0;line-height:14px}
#principal .noticia-detalhe .imagem .legenda{background:#d2d2d2;color:#313131;font-size:12px;padding:12px;border-radius:0 0 5px 5px;margin:0;line-height:18px}
@media only screen and (min-width:992px) and (max-width:1200px) {
	#principal .lista{padding-left:20px;padding-top:0}
	#principal .lista a span{margin-bottom:5px;font-size:15px;line-height:16px}
	#principal .noticia-principal a{font-size:32px;line-height:36px}
	#principal .noticia-principal a span{padding:15px 35px}
	#principal .noticia a span{padding:15px 35px}
	#principal .destaque a{height:130px;padding:20px}
	#principal .destaque a span{height:69px;font-size:16px;line-height:18px}
	#principal.invert .destaque a{height:128px;padding:20px}
}
@media only screen and (min-width:768px) and (max-width:992px) {
	#principal .lista{padding-left:15px;padding-top:0}
	#principal .lista a span{margin-bottom:5px;font-size:14px;line-height:16px}
	#principal .noticia-principal a{font-size:30px;line-height:34px}
	#principal .noticia-principal a span{padding:20px 35px}
	#principal .noticia a span{padding:20px 35px}
	#principal .destaque{padding-top:0;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
	#principal .destaque a{width:50%;height:auto;margin:2px 0 0;padding:20px}
	#principal .destaque a span{font-size:16px;line-height:18px;height:auto}
	#principal .destaque a:first-child{border-right:2px solid #f1f1f1}
	#principal .noticia-detalhe .imagem{max-width:250px}
	#principal .noticia-detalhe .texto{font-size:16px;line-height:28px}
	#principal.invert .destaque a{height:auto}
}
@media only screen and (max-width:768px) {
	#principal{padding:0;background:none}
	#principal .lista{display:none}
	#principal .banner{display:none}
	#principal .noticia-principal a span{font-size:20px;line-height:24px;padding:15px;text-align:center}
	#principal .noticia-principal a span small{display:none}	
	#principal .noticia-detalhe .texto img{width:100%;height:auto;margin:0!important}
	#principal .noticia-detalhe .texto iframe{width:100%;height:auto}
	#principal .noticia{padding-top:0}
	#principal .noticia a span{font-size:16px;line-height:18px;text-align:center;padding:15px}
	#principal .noticia a span small{display:none}	
	#principal .destaque{padding-top:0;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
	#principal .destaque a{width:50%;margin:2px 0 0;padding:20px;height:auto}
	#principal .destaque a span{height:auto;font-size:14px;line-height:17px}
	#principal .owl-prev{left:20px}
	#principal .owl-next{right:20px}
	#principal .noticia-detalhe .imagem{max-width:100%;width:100%;float:none}
	#principal .noticia-detalhe .texto{font-size:16px;line-height:30px}
	#principal .noticia-detalhe .share span{display:none}
	#principal .noticia-detalhe .share a{font-size:18px;line-height:18px}
	#principal.invert .destaque a{height:auto}
}

#conteudo{padding:30px 0 120px}

#conteudo.resultado .descricao{color:#363636;font-size:22px;margin:30px 0 0;cursor:default}
#conteudo.resultado .descricao b{color:#003093}
#conteudo.resultado .lista{padding:0;list-style:none}
#conteudo.resultado .lista li{border-bottom:1px solid #ebebeb;padding:30px 0}
#conteudo.resultado .lista li:last-child{border:none}
#conteudo.resultado .lista a{text-decoration:none;color:#363636;font-size:22px}
#conteudo.resultado .lista a:hover span.texto span{color:#003093;text-decoration:underline}
#conteudo.resultado .lista span.img{width:385px;margin-right:15px;display:block}
#conteudo.resultado .lista span.texto b{display:block;font-size:14px;font-weight:normal;margin-bottom:10px;color:#ee0000}
#conteudo.resultado .lista img{width:100%;height:auto}
@media only screen and (max-width:768px) {
	#conteudo.resultado .lista a{display:block;font-size:22px}
	#conteudo.resultado .lista span.img{width:100%;margin-bottom:10px}
	#conteudo.resultado .lista span b{margin-bottom:0}
}

#conteudo.assessoria .share{margin-bottom:50px}
#conteudo.assessoria .box{margin-top:50px}
#conteudo.assessoria .selecione{color:#ef0b0a;font-size:18px;margin-top:40px;display:block;font-weight:bold}
#conteudo.assessoria .selecione select{width:270px;height:37px;padding-left:5px;border-radius:5px;border-color:#c2c5cc;margin-left:15px}
#conteudo.assessoria .lista{margin:20px 0 0;list-style:none;padding:0}
#conteudo.assessoria .lista li{margin:20px 0 0;background:#f7f7f7;border:1px solid #c2c5cc;border-radius:5px}
#conteudo.assessoria .lista li a{width:100px;background:#fff;border-left:1px solid #c2c5cc;border-radius:0 5px 5px 0;text-align:center;text-decoration:none;color:#003093;font-size:20px}
#conteudo.assessoria .lista li a i{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#conteudo.assessoria .lista li a:hover i{margin-left:10px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#conteudo.assessoria .lista li div{padding:20px}
#conteudo.assessoria .lista li div h3{font-size:20px;color:#003093}
#conteudo.assessoria .lista li div p{margin:0;color:#4f5155}
#conteudo.assessoria .lista li div p b{color:#ef0b0a;min-width:70px;display:inline-block;font-weight:normal}

#conteudo.clube .share{margin-bottom:50px}
#conteudo.clube .menu-esquerdo{border-right:1px solid #cfcfcf;padding-right:0}
#conteudo.clube .menu-esquerdo ul{margin:0;padding:0;list-style:none}
#conteudo.clube .menu-esquerdo ul li{margin:0 0 30px}
#conteudo.clube .menu-esquerdo ul li a{color:#454545;font-size:18px;text-decoration:none;display:block}
#conteudo.clube .menu-esquerdo ul li.select a{color:#003093;font-weight:bold;border-right:1px solid #003093}
#conteudo.clube .menu-esquerdo ul li:hover a{color:#003093;border-right:1px solid #003093}
#conteudo.clube .texto .img{display:block;width:100%;margin-bottom:30px}
#conteudo.clube .texto .img-center{display:block;margin:0 auto 30px}
#conteudo.clube .texto h4{font-size:25px;margin-bottom:30px;cursor:default}
#conteudo.clube .texto h5{font-size:23px;margin:30px 0 10px;cursor:default}
#conteudo.clube .texto h5 span{font-size:17px;font-weight:normal}
#conteudo.clube .texto p{cursor:default}
#conteudo.clube iframe{width:100%;height:450px;border:none}
#conteudo.clube form{margin-top:50px;margin-bottom:30px}
#conteudo.clube form.no-margin{margin-top:0}
#conteudo.clube form input[type=text],#conteudo.clube form select{width:100%;height:34px;line-height:34px;display:block;border-radius:5px;border:1px solid #c2c5cc;text-indent:10px;outline:none}
#conteudo.clube form textarea{width:100%;height:200px;display:block;border-radius:5px;border:1px solid #c2c5cc;padding:10px;outline:none}
@media only screen and (min-width:992px) and (max-width:1200px) {
	#conteudo.clube form label{font-size:14px}
}
@media only screen and (min-width:768px) and (max-width:992px) {
	#conteudo.clube .texto h5 span{font-size:13px}
	#conteudo.clube form label{font-size:14px}
}
@media only screen and (max-width:768px) {
	#conteudo.clube .menu-esquerdo{border:none;margin-bottom:10px;padding-right:15px}
	#conteudo.clube .menu-esquerdo ul{border:none;background:#f4f4f4;padding:10px;border:1px solid #ccc}
	#conteudo.clube .menu-esquerdo ul li{margin:0 0 3px}
	#conteudo.clube .menu-esquerdo ul li a{font-size:14px}
	#conteudo.clube .texto h5,#conteudo.clube .texto h5 span{display:block}
}

#conteudo.contato h5{font-size:23px;margin:30px 0 10px;cursor:default}
#conteudo.contato h5 span{font-size:17px;font-weight:normal}
#conteudo.contato iframe{width:100%;height:450px;border:none}
#conteudo.contato form{margin-top:50px;margin-bottom:30px}
#conteudo.contato form input[type=text],#conteudo.contato form select{width:100%;height:34px;line-height:34px;display:block;border-radius:5px;border:1px solid #c2c5cc;text-indent:10px;outline:none}
#conteudo.contato form input[type=checkbox]{display:block;margin-top:8px;width:20px;height:20px}
#conteudo.contato form textarea{width:100%;height:200px;display:block;border-radius:5px;border:1px solid #c2c5cc;padding:10px;outline:none}
#conteudo.contato .infos{margin-top:30px;cursor:default}
#conteudo.contato .infos p{margin:0;color:#4f5155}
@media only screen and (max-width:768px) {
	#conteudo.contato h5,#conteudo.contato h5 span{display:block}
}

#conteudo.internas h4{margin:40px 0 20px;cursor:default}

#conteudo .accordion{margin-top:40px}
#conteudo .accordion.no-margin{margin-top:0}
#conteudo .accordion.ui-accordion .ui-accordion-header{margin-top:10px;background:#f4f4f4;border:1px solid #dddddd;color:#003093;font-weight:bold;padding:15px;font-size:18px;outline:none}
#conteudo .accordion.ui-accordion .ui-accordion-header-active{border-bottom:none}
#conteudo .accordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon{display:none}
#conteudo .accordion.ui-accordion .ui-accordion-content{padding:20px 30px}
#conteudo .accordion.ui-accordion .ui-accordion-content .item{border-bottom:1px solid #F5F5F5;padding-bottom:10px;cursor:default}
#conteudo .accordion.ui-accordion .ui-accordion-content .item:last-child{border-bottom:none;padding-bottom:0;margin:0}
#conteudo .accordion.ui-accordion .ui-accordion-content .img{flex-basis:100%;margin-right:15px;width:200px;max-width:200px;min-width:200px}
#conteudo .accordion.ui-accordion .ui-accordion-content .item p{margin:20px 0;font-size:15px}
#conteudo .accordion ul.contato{margin:0;padding:0}
#conteudo .accordion ul.contato li{margin:10px 0}
#conteudo .accordion ul.contato h3{color:#003093;font-size:16px;margin:0}
#conteudo .accordion ul.contato p{font-size:13px;margin-bottom:5px}
#conteudo .accordion ul.contato li{width:32%;list-style:none;display:inline-block;vertical-align:top}
#conteudo .accordion ul.contato img{margin-right:5px;float:left}
#conteudo .accordion ul.contato .fa-facebook-square{color:#2b4894}
#conteudo .accordion ul.contato .fa-envelope{color:#e25a43}
#conteudo .accordion ul.secretarias{margin:0;padding:0}
#conteudo .accordion ul.secretarias li{margin:10px 0}
#conteudo .accordion ul.secretarias h3{color:#003093;font-size:16px;margin:0}
#conteudo .accordion ul.secretarias p{font-size:13px;margin-bottom:5px}
#conteudo .accordion ul.secretarias img{width:80px;margin-right:10px}
#conteudo .accordion ul.secretarias .contato{min-width:250px;max-width:250px}
#conteudo .accordion ul.secretarias .contato > i{min-width:80px;max-width:80px;margin-right:5px;float:left}
#conteudo .accordion ul.secretarias .texto p{margin:0 !important}
#conteudo .accordion ul.secretarias .fa-facebook-square{color:#2b4894}
#conteudo .accordion ul.secretarias .fa-envelope{color:#e25a43}
@media only screen and (min-width:768px) and (max-width:992px) {
	#conteudo .accordion ul.contato li{width:49%}
}
@media only screen and (max-width:768px) {
	#conteudo .accordion.ui-accordion .ui-accordion-content .item{display:block}
	#conteudo .accordion ul.contato li{width:100%}
	#conteudo .accordion ul.secretarias .contato{min-width:100%;max-width:100%;width:100%}
}

#conteudo.downloads .descricao{margin:40px 0 30px;cursor:pointer}

#conteudo.galeria-fotos .galeria-fotos{margin-top:30px}
#conteudo.galeria-fotos .galeria-fotos a{display:block;margin-bottom:40px;outline:none}
#conteudo.galeria-fotos .galeria-fotos a b{font-size:12px;color:#003093;border:1px solid #003093;padding:5px 10px;margin:0;border-radius:3px;cursor:default;display:inline-block;margin:10px 0 0;font-weight:normal}
#conteudo.galeria-fotos .galeria-fotos a > span{display:block;color:#4F5054;margin:10px 0 0}
#conteudo.galeria-fotos .galeria-fotos a span.overlay{position:absolute;background-color:rgba(0, 48, 127, 0.5);width:100%;height:100%;top:0;left:0;margin:0;padding:0;text-align:center;display:flex;justify-content:center;align-items:center;opacity:0;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#conteudo.galeria-fotos .galeria-fotos a span.overlay span{margin:0;font-size:50px;color:#fff;align-items:center}
#conteudo.galeria-fotos .galeria-fotos a:hover b{color:#fff;background:#003093}
#conteudo.galeria-fotos .galeria-fotos a:hover > span{color:#003093}
#conteudo.galeria-fotos .galeria-fotos a:hover span.overlay{opacity:1;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}

#conteudo.downloads .descricao{margin:40px 0 30px;cursor:pointer}
#ultimas{padding:30px 0 0}
#ultimas .noticias a{text-decoration:none;margin-top:10px;margin-bottom:15px;font-weight:500}
#ultimas .noticias a b{display:block;color:#ee0000;font-size:14px;height:21px;overflow:hidden}
#ultimas .noticias a i{margin-bottom:15px}
#ultimas .noticias a span{display:block;color:#363636;font-size:15px;line-height:18px;margin-top:6px;min-height:72px}
@media only screen and (min-width:768px) and (max-width:992px) {
	#ultimas h2{font-size:17px}
	#ultimas .noticias a:nth-last-child(2),#ultimas .noticias a:last-child{display:none}
	#ultimas .padding-right-30{padding-right:35px}
	#ultimas .padding-left-30{padding-left:20px}
}
@media only screen and (max-width:768px) {
	#ultimas .noticias a img{width:100%}
	#ultimas .padding-left-30{padding-left:15px}
	#ultimas .padding-right-30{padding-right:15px}
	#ultimas .btn.mobile{display:inline-block !important;margin-bottom:50px}
}

#videos{padding:50px 0 100px}
#videos .videos a{display:block;color:#fff;font-size:24px;font-weight:bold;line-height:26px;text-decoration:none;position:relative}
#videos .videos a span{position:absolute;z-index:1;left:0;bottom:0;width:100%;height:auto;padding:35px;background-image:linear-gradient(to bottom, transparent, rgba(60,60,60,1))}
#videos .videos  a .overlay{position:absolute;width:100%;height:100%;top:0;left:0;margin:0;padding:0;text-align:center;display:flex;justify-content:center;align-items:center;background-image:none}
#videos .videos  a .overlay b{margin:0;font-size:44px;color:#FF0000;align-items:center;display:block;margin-top:-44px}
#videos .videos .videos-small a {font-size:16px;line-height:18px;margin:1px 0 0 1px}
#videos .videos .videos-small a span{padding:25px}
#videos .videos .videos-small a .overlay{position:absolute;width:100%;height:100%;top:0;left:0;margin:0;padding:0;text-align:center;display:flex;justify-content:center;align-items:center;background-image:none}
#videos .videos .videos-small a .overlay b{font-size:24px;width:24px;height:24px;margin-top:-24px}
@media only screen and (min-width:992px) and (max-width:1200px) {
	#videos .videos a span{padding:20px}
	#videos .videos .videos-small a span{padding:15px}
}
@media only screen and (min-width:768px) and (max-width:992px) {
	#videos .videos a span{padding:20px;font-size:18px;line-height:20px}
	#videos .videos-small a span{font-size:14px}
	#videos .videos-small > div:nth-last-child(2),#videos .videos-small > div:last-child{display:none}
	#videos .videos .videos-small a span{padding:15px}
}
@media only screen and (max-width:768px) {
	#videos{padding:10px 0 0;background:#f1f1f1}
	#videos h2{padding:0 15px}
	#videos .videos a span{padding:10px 15px;font-size:16px;line-height:18px}
}

#contato-banco{padding:0 0 50px 0}
@media only screen and (max-width:768px) {
	#contato-banco .item-tema{margin:30px 0 0}
}

#parceiros.borda{border-top:1px solid #ebebeb}
@media only screen and (max-width:768px) {
	#parceiros-banco{padding-bottom:30px}
}

#publicacoes{background:#9a9da3;padding:50px 0;color:#fff}
#publicacoes .slider-publicacoes{padding:0 40px}
#publicacoes .owl-prev {left:0}
#publicacoes .owl-next {right:0}
@media only screen and (max-width:768px) {
	#publicacoes h2{margin-bottom:20px}
	#publicacoes p{display:none}
}

#galeria{background:#9fa2a8;padding:50px 0;color:#fff}
#galeria .col-6 a{display:block;color:#fff;text-decoration:none;font-size:18px;line-height:20px}
#galeria .col-6 a img{display:block}
#galeria .col-6 a i{margin-bottom:10px}
@media only screen and (min-width:768px) and (max-width:992px) {
	#galeria .col-6 a{font-size:16px}
}
@media only screen and (max-width:768px) {
	#galeria h2{margin-bottom:15px}
	#galeria .col-6 a{font-size:14px}
}

#parceiros{padding:50px 0}
#parceiros img{margin:0 15px}
@media only screen and (min-width:992px) and (max-width:1200px) {
	#parceiros img{margin:0 5px}
}
@media only screen and (max-width:768px) {
	#parceiros{display:none}
}

#itens{text-align:center;padding:20px 0}
#itens a{display:block;padding:22px;width:130px;height:150px;font-weight:bold;font-size:14px;color:#363636;text-decoration:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#itens a i{display:block;font-size:45px;line-height:65px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#itens a:hover{background:#f1f1f1;color:#003093;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#itens a:hover i{font-size:50px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
@media only screen and (min-width:768px) and (max-width:992px) {
	#itens a{width:100px;padding:25px 8px}
}
@media only screen and (max-width:768px) {
	#itens{background:#f1f1f1}
	#itens a{width:33%;padding:10px}
	#itens a:last-child{display:none}
}

#footer{background:#f5f5f5;padding:50px 0}
#footer p{margin:0 0 3px;font-size:17px;font-weight:500}
#footer a{color:#363636;text-decoration:none}
#footer a:hover{color:#003093;text-decoration:underline}
#footer img{margin-bottom:20px}
@media only screen and (min-width:992px) and (max-width:1200px) {
	#footer p{font-size:15px}
	#footer .padding-right-50{padding-right:0}
}
@media only screen and (min-width:768px) and (max-width:992px) {
	#footer h2{font-size:18px}
	#footer p{font-size:13px}
	#footer .padding-right-50{padding-right:10px}
}
@media only screen and (max-width:768px) {
	#footer{padding:10px 0}
	#footer p{font-size:15px;text-align:center;font-weight:500;margin:15px 0}
}

#copyright{background:#eaeaea;padding:10px 0}
#copyright p{margin:0;cursor:default;color:rgba(54, 54, 54, 0.6);font-size:15px}
@media only screen and (min-width:768px) and (max-width:992px) {
	#copyright p{font-size:13px}
}
@media only screen and (max-width:768px) {
	#copyright p{font-size:13px;text-align:center;color:#363636}
}

#mask{width:100%;height:100%;position:fixed;z-index:9;top:0;left:0;background:#000;opacity:0.5;display:none}
#modal{width:650px;height:450px;position:fixed;z-index:12;top:50%;left:50%;margin:-225px 0 0 -325px;background:#fff;box-shadow:#000 0 0 10px;display:none}
#modal .header-modal{background:#ebeaf1;padding:20px 30px}
#modal .header-modal h2{font-size:20px;margin:0;color:#003093;cursor:default}
#modal .header-modal p{font-size:15px;margin:15px 0 0;color:#003093;cursor:default;font-weight:500}
#modal .header-modal img{max-width:295px}
#modal .body-modal{padding:20px 30px}
#modal .body-modal label{color:#4f5155;font-size:16px;display:block}
#modal .body-modal label input{width:100%;height:34px;line-height:34px;display:block;border-radius:5px;border:1px solid #c2c5cc;text-indent:10px;outline:none}
#modal .body-modal .btn{width:80%;display:table;margin:20px auto 0}
#modal #fechar{cursor:pointer;position:absolute;z-index:13;right:-15px;top:-15px;color:#fff;background:#333;width:30px;height:30px;border-radius:50px;text-align:center;line-height:30px}

@media only screen and (max-width:768px) {
	#modal{top:15px;left:5%;margin:0;width:90%;height:auto}
	#modal .header-modal {padding:10px 15px}
	#modal .header-modal h2{font-size:18px}
	#modal .header-modal img,#modal .header-modal p{display:none}
	#modal .body-modal{overflow:auto;padding:10px 15px}
}

#toTop{background:url(../img/itens/back-top.png) 50% 0 no-repeat;width:46px;height:46px;text-indent:-999em;bottom:35px;right:15px;position:fixed;z-index:10;cursor:pointer}
#toTop:hover{background:url(../img/itens/back-top.png) 50% 100% no-repeat}

hr{border:none;border-top:1px solid #e0e3e5}

.btn{display:inline-block;padding:10px 12px;background:#ee0000;color:#fff;text-decoration:none;border-radius:5px;border:none;cursor:pointer;font-size:14px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.btn.azul{background:#003093}
.btn:hover{color:#fff;text-decoration:none;filter:brightness(110%);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}

.zoom,.zoom i{position:relative;overflow:hidden;display:block}
.zoom img{width:100%;display:block;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
.zoom:hover img{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}

.padding-right-30{padding-right:30px}
.padding-right-50{padding-right:50px}
.padding-left-30{padding-left:30px}
.flex{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:nowrap}
.wrap{flex-wrap:wrap}

.item-tema{display:block;border-radius:5px;margin-bottom:30px}
.item-tema h2{color:#fff;font-size:20px;text-align:center;line-height:30px;padding:10px 0;border-radius:5px 5px 0 0;margin:0}
.item-tema ul{margin:0;padding:0}
.item-tema ul li{list-style:none;margin-bottom:30px}
.item-tema ul.publicacoes li a{color:#363636;font-size:16px;text-decoration:none}
.item-tema ul.publicacoes li a:hover{text-decoration:underline}
.item-tema ul.paginacao-bullet{margin:0;padding:0;text-align:center;margin-bottom:15px}
.item-tema ul.paginacao-bullet li{list-style:none;display:inline-block;cursor:pointer;margin:0 3px}
.item-tema ul.contato{margin:0;padding:30px 30px 0}
.item-tema ul.contato h3{color:#003093;font-size:16px;margin:0}
.item-tema ul.contato p{font-size:13px;margin-bottom:5px}
.item-tema ul.contato li{width:24%;display:inline-block;vertical-align:top}
.item-tema ul.contato img{float:left;margin-right:5px}
.item-tema ul.contato .fa-facebook-square{color:#2b4894}
.item-tema ul.contato .fa-envelope{color:#e25a43}
@media only screen and (max-width:992px) and (min-width:768px) {
	.item-tema h2{font-size:16px;line-height:20px}
	.item-tema ul{padding:10px 15px 0}
	.item-tema ul li{margin-bottom:10px}
	.item-tema ul.publicacoes li a{font-size:14px}
	.item-tema ul.contato li{width:49%}
}
@media only screen and (max-width:768px) {
	.item-tema{margin:30px 0 0}
	.item-tema ul.contato{padding:10px}
	.item-tema ul.contato li{width:100%}
}

.item-lateral{display:block;border-radius:5px;border:1px solid #003093;margin-bottom:30px}
.item-lateral h2{color:#fff;background:#003093;font-size:18px;text-align:center;line-height:20px;padding:8px 10px;border-radius:0 0 5px 5px;margin:0}
.item-lateral h2.large{padding:18px 5px}
.item-lateral h2 a{background:#001c57}
.item-lateral img{display:block;margin:auto;border-radius:5px 5px 0 0}
.item-lateral form{padding:20px;margin:0 !important}
.item-lateral form input[type=text],.item-lateral form select{width:100%;height:34px;font-size:14px;line-height:34px;display:block;border-radius:5px;border:1px solid #c2c5cc;text-indent:10px;outline:none;margin-bottom:10px}
.item-lateral form .btn{width:100%}
.item-lateral ul{padding:20px;margin:0;list-style:none}
.item-lateral ul li{padding:8px 0;line-height:18px}
.item-lateral ul li a{color:#4f5155;font-size:14px}
.item-lateral p{padding:20px;margin:0;text-align:center;font-size:14px;line-height:28px;cursor:default}
.item-lateral p b{color:#003093}
.item-lateral.invert h2{border-radius:5px 5px 0 0}
@media only screen and (max-width:992px) and (min-width:768px) {
	.item-lateral h2{flex-wrap:wrap}
}
@media only screen and (max-width:768px) {
	.item-lateral{margin:30px 0 0}
	.item-lateral img{width:100%}
}

.share{font-style:italic;font-size:14px;margin:0}
.share a{font-size:17px;margin-left:3px;line-height:26px;width:26px;height:26px;display:inline-block;text-align:center;cursor:pointer}
.share a:hover{opacity:0.9;text-decoration:none}
.share a i.fa-facebook-square{font-size:28px;color:#2b4894;margin-top:-1px}
.share a i.fa-twitter{color:#fff;background:#3aa8e7;width:26px;height:26px;display:block;padding:5px}
.share a i.fa-google-plus{color:#fff;background:#d94e32;width:26px;height:26px;display:block;padding:5px;font-size:15px}
.share a i.fa-whatsapp{color:#fff;background:#39a800;width:26px;height:26px;display:block;padding:5px}
.share a i.fa-envelope{color:#fff;background:#919396;width:26px;height:26px;display:block;padding:4px}
.share a i.fa-print{color:#fff;background:#5e377c;width:26px;height:26px;display:block;padding:4px}
.share span{display:inline-block;margin-right:10px;cursor:default}
@media only screen and (max-width:768px) {
	.share span{display:none}
	.share a{font-size:18px;line-height:18px}
}

.box{border:1px solid #c2c5cc;border-radius:5px;margin:30px 0}
.box h2{font-size:20px;color:#003093;padding:15px 30px;margin:0;background:#f7f7f7;border-radius:5px 5px 0 0}
.box ul{padding:0 30px;margin:0;list-style:none}
.box ul li{padding:18px 0;border-bottom:1px solid #f5f6f8}
.box ul li a{color:#3a3a3a}

.galeria{display:block;margin-top:30px}
.galeria h2{color:#003093}
.galeria h2 span{color:#ef0b0a}
.galeria ul{display:block;margin:10px 0 0;padding:0}
.galeria ul li{display:inline-block;margin:5px 5px 0 0}
.galeria ul li a{border-radius:5px;border:1px solid #003093}
.galeria ul li img{width:auto;height:63px;border-radius:5px}
@media only screen and (max-width:768px) {
	.galeria h2,.galeria h2 span{display:block}
}
	
.owl-prev {text-decoration:none;display:block;cursor:pointer;color:#fff;position:absolute;top:40%;z-index:1;left:35px}
.owl-prev:before {font-family:FontAwesome;font-size:40px;display:inline-block;content:"\f053";color:#fff}
.owl-prev.disabled{opacity:0.3;cursor:default !important}
.owl-next{text-decoration:none;display:block;cursor:pointer;color:#fff;position:absolute;top:40%;z-index:1;right:35px}
.owl-next:before {font-family:FontAwesome;font-size:40px;display:inline-block;content:"\f054";color:#fff}
.owl-next.disabled{opacity:0.3;cursor:default !important}
.owl-carousel .owl-item img{width:auto}
@media only screen and (min-width:992px) and (max-width:1200px) {
	.owl-prev,.owl-next{top:30%}
}
@media only screen and (max-width:768px) {
	.owl-prev:before,.owl-next:before{font-size:30px}
}

.pagination{display:table;margin:20px auto;padding:0;text-align:center}
.pagination li{display:block;float:left;width:30px;height:30px;line-height:26px;text-align:center;border:1px solid #dddddd;border-left:none}
.pagination li a{display:block;text-decoration:none;font-size:16px;color:#535353;line-height:30px;height:28px}
.pagination li:first-child{border-left:1px solid #dddddd;border-radius:5px 0 0 5px}
.pagination li:last-child{border-radius:0 5px 5px 0}
.pagination li:hover,.pagination li:hover a,.pagination li.active,.pagination li.active a{color:#fff;background:#003093}

.dropdown-toggle{display:none;background:#f4f4f4;border:none;border:1px solid #ccc;color:#666;.  }
@media only screen and (max-width:768px) {
	.dropdown-toggle{display:block}
	.dropdown .dropdown-menu{display:none}
	.dropdown.open .dropdown-menu{display:block}
}

.mobile{display:none !important}
@media only screen and (max-width:768px) {
	.desktop{display:none !important}
	.mobile{display:block !important}
	.rpm{padding:0!important}
}

@media print {
	.busca.desktop,#nav,.share,#footer,#parceiros,.arquivos-video,.galeria,.mais-noticias,.item-lateral,#contato-banco{display:none !important}
}